h1
{
	  color: red;
}

body
{
	background-color: black;
}


#carte 
{
    width: 800px;
    margin:0 auto ;
    background-color: white;
    text-align: center;
    align-content: center;

}

ul li
{
    list-style-type: none;
}

h4
{
    margin-left: 10px;
    text-align: left;
}

img
{
    display: block;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    margin: 25px auto;
}




