h1
{
	  color: red;
}

body
{
  background-color: darkred;
  font-family: "Georgia", serif;
}

#carte 
{
  text-align: center;
  align-content: center;
  max-width: 900px;
  margin: 40px auto;
  background-color: white; 
  padding: 30px;
  border-radius: 12px;
}


ul li
{
    list-style-type: none;
}

h4
{
    margin-left: 10px;
    text-align: left;
}

img
{
    display: block;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    margin: 25px auto;
}







